<%- include('./partials/head.ejs') %>

    <title>INCB | Password</title>
  </head>
  <body class="flex flex-col">
    <%- include('./partials/header.ejs') %>

    <main class="container mx-auto pt-16 flex-1 text-center text-4xl font-bold">
      <input data-movie_id="<%= movie_id %>" data-doc="<%= doc %>" data-id="<%= id %>" class="input w-1/4" placeholder="Enter the password" required type="password" name="password">
    </main>

    <%- include('./partials/footer.ejs') %>

    <script>
      const input = document.querySelector('input.input')

      input.addEventListener('keydown', (e) => {
        if (e.key === 'Enter') {
          let endpoint = `/${input.dataset.doc}/?password=${input.value}&id=${input.dataset.id}`
          if (input.dataset.movie_id) endpoint += `&movie_id=${input.dataset.movie_id}`

          fetch(endpoint, {
            method: 'DELETE',
          })
          .then((res) => res.json())
          .then((res) => {
            alert(res)
            if (res === 'The comment was successfully deleted') {
              window.location.href = `/${input.dataset.doc}/${input.dataset.movie_id}`
            } else if (res === 'The movie was successfully deleted') {
              window.location.href = `/`
            }
          })
          .catch(err => console.log(err))
        }
      }) 
    </script>
  </body>     
</html>
